In [11]:
import pandas
import seaborn

In [12]:
filename = "032/labor.csv"
df = pandas.read_csv(filename, sep='\t')
df.tail()

,Unnamed: 0,indicator,erytrocyty,smoker,weight,trombocyty,alp,hbver,etytr,relationship,ssn,leukocyty,ast,hematokrit,er-cv,hemoglobin,name,alt
9917,9917,1.0,7.92703,no,91.00875,7.32437,7.89392,5.58123,3.90769,single,222-02-8839,7.86491,32.48746,5.55737,68.86183,9.06266,Kathryn Joseph,1.23304
9918,9918,1.0,4.79625,no,2.41949,5.07378,71.42731,5.63469,4.55839,separated,178-80-3826,5.87616,66.92216,6.52756,44.38480,7.20484,Matthew Hampton,0.54876
9919,9919,1.0,7.75338,Y,52.16544,7.05607,70.20597,7.76704,5.08319,separated,117-91-4520,8.55812,57.18525,8.04531,36.38706,5.20149,James Nicholson,1.04357
9920,9920,0.0,7.75073,Y,15.83292,7.33310,78.44987,7.51062,8.47775,divoced,876-69-2400,7.29457,48.81077,7.64010,62.68887,5.52321,Michael Brown,1.18430
9921,9921,0.0,7.85219,no,65.28356,7.27391,35.52075,4.58541,5.34337,single,190-02-7522,6.48293,57.15174,7.03839,66.12604,4.31294,Carol Howard,1.35656

In [13]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0  indicator  erytrocyty smoker     weight  trombocyty  \
0              0        1.0     6.91767    yes   69.94161     6.50529
1              1        0.0     9.70624     no  117.24842     6.83699
2              2        1.0     7.88145    yes   83.97086     7.75608
3              3        1.0     6.63073    yes  125.82753     6.06728
4              4        1.0     9.09638     no   50.70530     7.90158
...          ...        ...         ...    ...        ...         ...
9917        9917        1.0     7.92703     no   91.00875     7.32437
9918        9918        1.0     4.79625     no    2.41949     5.07378
9919        9919        1.0     7.75338      Y   52.16544     7.05607
9920        9920        0.0     7.75073      Y   15.83292     7.33310
9921        9921        0.0     7.85219     no   65.28356     7.27391

           alp    hbver    etytr relationship          ssn  leukocyty  \
0     81.48900  7.30162  6.77497    separated  041-29-7959    6.17532
1     43.40520  7.90707  7.82625      married  183-58-0483    9.41015
2     38.21236  6.81795  5.04172      widowed  411-84-5693    7.27551
3     88.20804  7.63231  5.57008      divoced  028-84-2760    5.75381
4     90.12868  8.75450  6.83533      married  375-37-7701    6.77832
...        ...      ...      ...          ...          ...        ...
9917   7.89392  5.58123  3.90769       single  222-02-8839    7.86491
9918  71.42731  5.63469  4.55839    separated  178-80-3826    5.87616
9919  70.20597  7.76704  5.08319    separated  117-91-4520    8.55812
9920  78.44987  7.51062  8.47775      divoced  876-69-2400    7.29457
9921  35.52075  4.58541  5.34337       single  190-02-7522    6.48293

           ast  hematokrit     er-cv  hemoglobin             name      alt
0     60.01609     7.12529  44.43192     6.01513        Blake Fox  0.88575
1     56.79596     5.22638  48.17707     8.13065      Randy Solis  6.09530
2     63.29051     5.47408  29.81102     4.51670  Phillip Miranda  1.53154
3     26.62704     6.74435  52.06123     5.92597      Mark Watson  0.58661
4     32.74759     7.86582  51.68909     6.26871   Patrick Oliver  3.33738
...        ...         ...       ...         ...              ...      ...
9917  32.48746     5.55737  68.86183     9.06266   Kathryn Joseph  1.23304
9918  66.92216     6.52756  44.38480     7.20484  Matthew Hampton  0.54876
9919  57.18525     8.04531  36.38706     5.20149  James Nicholson  1.04357
9920  48.81077     7.64010  62.68887     5.52321    Michael Brown  1.18430
9921  57.15174     7.03839  66.12604     4.31294     Carol Howard  1.35656

[9922 rows x 18 columns]>